<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings> -->

	<typeAliases>
		<typeAlias alias="brand" type="com.cdkj.loan.domain.Brand" />
		<typeAlias alias="series" type="com.cdkj.loan.domain.Series" />
		<typeAlias alias="car" type="com.cdkj.loan.domain.Car" />
		<typeAlias alias="sysConfig" type="com.cdkj.loan.domain.SYSConfig" />
		<typeAlias alias="cityList" type="com.cdkj.loan.domain.CityList" />
		<typeAlias alias="basicValuation" type="com.cdkj.loan.domain.BasicValuation" />
	</typeAliases>
</configuration>
